/* Navbar.css */
.navbar {
  background-color: #1976d2; /* Primary color */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem; /* You can adjust this padding to control the spacing */
}

.left-button {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem; /* Spacing between the "Matthew Boughton" button and others */
}

.right-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.right-button {
  font-size: 1rem;
  margin-left: 1rem; /* Space between each link button */
}
